<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="profile-container">
      <img class="profile-img" src="{{ site.baseurl }}assets/profile.png" alt="profile picture" />
      <h1 class="nickname">{{ site.nickname }}</h1>
    </div>
    <div class="sidebar-about">
      <h2>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h2>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">主页</a>

      {% comment %}
        本来可以通过循环遍历的方式动态加载根目录下的所有页面，但是这样无法控制顺序，所以就写死在这儿
      {% endcomment %}

      <a class="sidebar-nav-item{% if page.url == '/categories/' %} active{% endif %}" href="{{ site.baseurl }}categories/">分类列表</a>

      <a class="sidebar-nav-item{% if page.url == '/tags/' %} active{% endif %}" href="{{ site.baseurl }}tags/">标签云</a>

      <a class="sidebar-nav-item{% if page.url == '/resume/' %} active{% endif %}" href="{{ site.baseurl }}resume/">我的简历</a>

      <a class="sidebar-nav-item{% if page.url == '/about/' %} active{% endif %}" href="{{ site.baseurl }}about/">关于</a>

      <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub项目</a>
    </nav>

  </div>
</div>
